@model CSMS.Models.DutyStation

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <br />

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <br />
                    <h2 class="card-title text-center">Duty Station Details</h2>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
    </div>






    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">

                    <div class="table-responsive m-t-40">
                        <table class="table table-hover table-sm">

                            <tbody>
                                <tr><td style="font-weight:bold">@Html.DisplayNameFor(model => model.Dsid)</td><td>@Html.DisplayFor(model => model.Dsid)</td></tr>
                                <tr><td style="font-weight:bold">@Html.DisplayNameFor(model => model.Country)</td><td>@Html.DisplayFor(model => model.Country)</td></tr>
                                <tr><td style="font-weight:bold">@Html.DisplayNameFor(model => model.City)</td><td>@Html.DisplayFor(model => model.City)</td></tr>

                                <tr><td style="font-weight:bold">@Html.DisplayNameFor(model => model.Dsgroup)</td><td>@Html.DisplayFor(model => model.Dsgroup)</td></tr>

                            </tbody>
                        </table>
                    </div>

                    <dl class="row">
                        <dt class="col-sm-2">
                            Surveys
                        </dt>
                        <dd>
                            <table class="table table-sm table-hover table-striped" style="width:100%; font-size:small;text-align:center">
                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        Survey Type
                                    </th>
                                    <th>
                                        Survey Month
                                    </th>
                                    <th>
                                        Survey Year
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        End Date
                                    </th>
                                    <th>
                                        Number of Staff
                                    </th>

                                </tr>
                                @{var i = 0; }
                                @foreach (var item in Model.Surveys)
                                {

                                    i = i + 1;

                                    <tr>
                                        <td>
                                            @i.
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SurveyType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SurveyMonth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SurveyYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SurveyBegin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SurveyEnd)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoOfStaff)
                                        </td>
                                    </tr>


                                }
                            </table>
                        </dd>
                    </dl>


                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Dsid" class="btn btn-primary">Edit</a>
                        <a asp-action="Index" class="btn btn-info">Back to List</a>
                    </div>

                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

</div>
