@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

@using CSMS.Models
@model IQueryable<Survey>
@*@model IEnumerable<ScPricingData>*@

@*<div class="QuestionnairePageContainer">*@

@*@HttpContextAccessor.HttpContext.Session.SetString("_focalPointMonitoringDSID","")*@
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
            </div>
 
            <div class="col-8">


                @*<h4 class="card-title">Danger Table</h4>
                    <h6 class="card-subtitle">Add class <code>.full-color-table .full-danger-table .hover-table</code></h6>*@
                @*SELECTED ITEM : @HttpContextAccessor.HttpContext.Session.GetString("_selectedItemCode")*@
                <div class="table-responsive">

                    <table class="table table-sm table-light">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="4" class="text-center" style="font-weight:bold">Active Surveys</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    if (item.SurveyEnd >= DateTime.UtcNow && item.SurveyBegin <= DateTime.UtcNow)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Ds.Country)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SurveyType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SurveyMonth)</td>
                                            <td><a type="button" class="btn btn-outline-secondary btn-block" style="display:block" href="~/Home/MonitoringTool?dsid=@item.Dsid&number=@item.NoOfStaff "> Response Rate </a></td>
                                        </tr>
                                    }

                                }
                            }
                        </tbody>

                    </table>
                    <br />
                    <table class="table table-sm table-light">

                        <thead class="thead-light">
                            <tr>
                                <th colspan="4" class="text-center" style="font-weight:bold">Upcoming Surveys</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    @if (item.SurveyBegin >= DateTime.UtcNow)

                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Ds.Country)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SurveyType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SurveyMonth)</td>
                                            <td><a type="button" class="btn btn-outline-secondary btn-block" style="display:block" href="~/Home/MonitoringTool?dsid=@item.Dsid&number=@item.NoOfStaff "> Response Rate </a></td>
                                            @*<td><a asp-controller="Home" asp-action="MonitoringTool" asp-route-id="@item.Dsid" class="btn btn-sm btn-primary">Edit</a></td>*@
                                            @*<td><a class="btn btn-info">Details</a></td>
                                                <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a></td>*@

                                        </tr>
                                    }
                                }
                            }
                        </tbody>

                    </table>
                    <br />
                    <table class="table table-sm table-light">

                        <thead class="thead-light">
                            <tr>
                                <th colspan="4" class="text-center" style="font-weight:bold">Past Surveys</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    @if (item.SurveyEnd < DateTime.UtcNow)

                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Ds.Country)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SurveyType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SurveyMonth)</td>
                                            <td><a type="button"  class="btn btn-outline-secondary btn-block" style="display:block"  href="~/Home/MonitoringTool?dsid=@item.Dsid&number=@item.NoOfStaff "> Response Rate </a></td>
                                            @*<td><a asp-controller="Home" asp-action="MonitoringTool" asp-route-id="@item.Dsid" class="btn btn-sm btn-primary">Edit</a></td>*@
                                            @*<td><a class="btn btn-info">Details</a></td>
                                                <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a></td>*@

                                        </tr>
                                    }
                                }
                            }
                        </tbody>

                    </table>
                </div>

            </div>

     
            <div class="col-2">
            </div>
        </div>
    </div>
</div>