@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@model CSMS.Models.Survey;
@*<img src="~/template/template2/assets/img/hero/contact_hero.jpg" />*@


<link href="~/theme/theme/dist/css/pages/ui-bootstrap-page.css" rel="stylesheet">

<style>
    body {
        font-size: 1em;
    }
</style>
<!-- slider Area Start-->

<div style="background-image: url(cold/assets/images/Banner.png);background-color:#203752;">

    <div class="row">
        <div class="col-xl-12">
            <div class="text-center">
                @if (@HttpContextAccessor.HttpContext.Session.GetString("_dsGroupToDisplay") != null)
                {
                    <h2 class="card-title text-white" style="padding:40px 0 5px 0">Staff at large</h2>
                }
                else
                {
                    <h2 class="card-title text-white" style="padding:40px 0 5px 0">Welcome</h2>
                    <h4 class="card-title text-white" style="padding:5px 0">ICSC Cost-of-Living Surveys</h4>

                }
                @{
                    bool display = @HttpContextAccessor.HttpContext.Session.GetString("_loggedInUserCountry") != null && @HttpContextAccessor.HttpContext.Session.GetString("_loggedInUserCountry") != "";
                    bool selectedDS = @HttpContextAccessor.HttpContext.Session.GetString("_SelectedDsGroup") != null && @HttpContextAccessor.HttpContext.Session.GetString("_SelectedDsGroup") != "";

                    if (display)
                    {
                                <h4 class="card-title text-center text-white">
                                    @*<h4 style="@(display? "disply:block" : "display:none")" class="card-title text-center text-white">*@
                                    @HttpContextAccessor.HttpContext.Session.GetString("_loggedInUserCountry") - @HttpContextAccessor.HttpContext.Session.GetString("_loggedInUserCity")
                
                
                                </h4>}
                    if (selectedDS && !display)
                    {
                        @*<h4 style="@(selectedDS? "disply:block" : "display:none")" class="card-title text-center text-white">*@
            <h4 class="card-title text-center text-white">
                @HttpContextAccessor.HttpContext.Session.GetString("_SelectedDsCountry") - @HttpContextAccessor.HttpContext.Session.GetString("_SelectedDsCity")
                
            </h4>

                    }
                    <br />


                }

            </div>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-body">
        <div class="container" style="font-size:1.1em">

            <section>
                <br />
                <!-- MESSAGE BEFORE SELECTION  -->

                <div style="@(@HttpContextAccessor.HttpContext.Session.GetString("_dsGroupToDisplay") != null ? "display:none" : "display:block")">

                    <h5>
                        <br />
                        Welcome to the international civil service commission (ICSC) Cost-of-Living Surveys.
                        this website contains a comprehensive set of information and materials required for the efficient conduct of cost-of-living surveys
                        including procedural instructions, up-to-date survey schedules, as well as survey data collection forms.
                        it also include guidance for the survey coordinator as well as documents to be submitted to icsc either through online form or by email. <br />

                        <br />
                    </h5>

                    <div class="form-group">

                        <form method="post" asp-controller="Home" asp-action="selectDS">
                            <table class="table table-sm table-borderless">
                                <tr class="row">
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-5">
                                        <h3 class="card-title" style="padding:40px 0">Please choose your duty station</h3>
                                    </td>
                                    <td class="col-sm-3"></td>
                                </tr>
                                <tr class="row">
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-5">
                                        @if (@HttpContextAccessor.HttpContext.Session.GetString("_dsGroupToDisplay") == null)
                                        {

                                            <div class="form-group">
                                                @*@Html.DropDownListFor(x => x.Dsid, new SelectList(Model.Dsid, "dsid", "Country"), "« ‹ Select › »", new { @class = "form-control" })*@

                                                @*<select id="itemCodeSelector" data-val-required="This is a required field . . ." name="dsIdSelected" class="form-control" asp-items="ViewBag.DutyStationList"></select>*@
                                                <select id="itemCodeSelector" data-val-required="This is a required field . . ." name="dsIdSelected" class="form-control">
                                                    <option id="emptySelection" label="Select your duty station . . ."></option>

                                                    <optgroup label='ACTIVE SURVEYS' style="color:darkorange; ">


                                                        @foreach (var a in ViewBag.ActiveListAll)
                                                        {
                                                            string val = a.Value + "0";
                                                            <option value=@val style="color:black;  font-style:normal">&nbsp;&nbsp;&nbsp;&nbsp;@a.Text </option>
                                                        }

                                                        @*</optgroup>*@

                                                    </optgroup>
                                                    <optgroup label='UPCOMING SURVEYS' style="color:darkorange; ">



                                                        @foreach (var a in ViewBag.upcomingListAll)
                                                        {
                                                            string val = a.Value + "1";
                                                            <option value=@val style="color:black;  font-style:normal">&nbsp;&nbsp;&nbsp;&nbsp;@a.Text </option>
                                                        }

                                                        @*</optgroup>*@
                                                    </optgroup>

                                                    <optgroup label='PAST SURVEYS' style="color:darkorange; ">

                                                        @foreach (var a in ViewBag.pastListAll)
                                                        {
                                                            string val = a.Value + "2";
                                                            <option value=@val style="color:black;  font-style:normal">&nbsp;&nbsp;&nbsp;&nbsp;@a.Text </option>
                                                        }




                                                    </optgroup>
                                                </select>




                                            </div>

                                        }
                                    </td>
                                    <td class="col-sm-3">
                                        <input type="submit" value="Load" class="btn btn-info btn-block w-100">


                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="padding:10px 0"> </td>
                                    <td></td>
                                </tr>

                            </table>

                        </form>

                    </div>

                </div>


            </section> <!-- MESSAGE BEFORE SELECTION ENDS -->
            @{var surveyRound = @HttpContextAccessor.HttpContext.Session.GetString("_dsSurveyRoundToDisplay");}
            @{ ViewData["Round"] = surveyRound; }
            


            <!-- HOUSING SECTION BEGINS -->

            <div id="Housing" style="@((@HttpContextAccessor.HttpContext.Session.GetString("_dsSurveyTypeToDisplay") == "H")? "display:block" : "display:none")">
                @*<partial name="_HousingStaff" />*@

                <partial name="_DynamicHtml" model='"HousingStaff"' />
            </div>
            <!-- HOUSING SECTION ENDS -->
            <!-- PP SECTION BEGINS -->

            <div id="PP" style="@((@HttpContextAccessor.HttpContext.Session.GetString("_dsSurveyTypeToDisplay") != "H")? "display:block" : "display:none")">



                <!-- PP FOR HQ AND GROUP 1 SECTION BEGINS-->
                <div id="HQGroup1" style="@((@HttpContextAccessor.HttpContext.Session.GetString("_dsGroupToDisplay") == "1" || @HttpContextAccessor.HttpContext.Session.GetString("_dsGroupToDisplay") == "0")? "display:block" : "display:none")">

                    @*<partial name="_PPStaffG1HQ" />*@
                    <partial name="_DynamicHtml" , model='"PPStaffG1HQ"' />

                </div> <!-- PP FOR HQ SECTION ENDS -->
                <!-- PP FOR GROUP 2 SECTION BEGINS -->
                <div id="HQGroup2" style="@((@HttpContextAccessor.HttpContext.Session.GetString("_dsGroupToDisplay") == "2")? "display:block" : "display:none")">
                    @*<partial name="_PPStaffG2" />*@
                    <partial name="_DynamicHtml" , model='"PPStaffG2"' />
                    <!-- PP FOR GROUP 2 SECTION ENDS -->

                </div> <!-- PP SECTION ENDS -->


            </div>
        </div>

    </div>

</div>
