@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

@using CSMS.Models
@model IQueryable<Survey>

@*@model IEnumerable<ScPricingData>*@

@*<div class="QuestionnairePageContainer">*@


<div class="card">
    <div class="card-body">
        @*<h4 class="card-title">Danger Table</h4>
        <h6 class="card-subtitle">Add class <code>.full-color-table .full-danger-table .hover-table</code></h6>*@
        @*SELECTED ITEM : @HttpContextAccessor.HttpContext.Session.GetString("_selectedItemCode")*@
        <div class="table-responsive">

            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <td colspan="3" class="text-center" style="font-weight:bold">Active</td>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            if (item.SurveyEnd >= DateTime.UtcNow && item.SurveyBegin <= DateTime.UtcNow)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Ds.Country)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SurveyType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SurveyMonth)</td>
                                </tr>
                            }

                        }
                    }
                </tbody>

            </table>

            @* <!--<td>-->*@
            @*<button class="btn btn-xs btn-secondary"><a href="Edit/@item.Id">Edit</a></button>*@
            @* <!--<button class="btn btn-xs btn-secondary"><a href="~/Surveys/Details/@item.Id">Details</a></button>-->*@
            @*<button class="btn btn-xs  btn-secondary"><a href="Delete/@item.Id">Delete</a></button>*@
            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            @*<!--</td>-->*@

            <br />

            <table class="table table-sm table-bordered">

                <thead>
                    <tr>
                        <td colspan="3" class="text-center" style="font-weight:bold">Upcoming</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            @if (item.SurveyBegin >= DateTime.UtcNow)

                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Ds.Country)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SurveyType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SurveyMonth)</td>
                                </tr>
                            }
                        }
                    }
                </tbody>

            </table>
        </div>

    </div>
</div>
