@model CSMS.Models.Faq

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Faq</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Question)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Answer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Answer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Qtype)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Qtype)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GroupId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GroupId)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Pk" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>